* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frem {
  position: relative;
  width: 300px;
  height: 500px;
  /* background: white; */
}

.center-cant {
  width: 300px;
  height: 450px;
  background: #0e1538;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  padding: 6px;
  border-radius: 0px 12px 0px 12px;
  overflow: hidden;
}
.center-cant img {
  width: 100%;
  height: 414px;
  object-fit: cover;
  border-radius: 0px 12px 0px 12px;
}
.center-cant .row {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.center-cant .row p {
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.center-cant .row h2 {
  color: #00ffd7;
  font-size: 18px;
  padding: 12px;
  background: #00000047;
  letter-spacing: 1px;
  border-radius: 0px 12px 0px 12px;
}
