.topics-container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.topic-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    /* Add a border as a line separator */
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comment-item {
    margin-left: 20px;
}

.comments-list {
    list-style-type: none;
    padding: 0;
}

form {
    margin-top: 10px;
}